<h1>Hello User</h1>
<p>One Record has been Deleted. Below is the details of Record:</p>
<% @object.attributes.each do |attr_key, attr_value| %>
  <p><strong><%= attr_key %>:</strong>  <%= attr_value %> </p>
<% end %>
<h4>Thanks</h4>
<h4>Admin Team</h4>
