
<% if user_signed_in? %> 
 <center>
    <div style="color:White;font-size:50px;"> Welcome Shreesh! </div> 
 </center><br>
<% end %>
<style> 

  body{
    background-image: url(<%= asset_path 'pexels-man-dy-1129382.jpg' %>);
    }

</style>


<%# 
<div>
<%= current_user.email %>
<%# <div> %> 